@import './keyframes'

.slide
  &__body
    height: 100vh

  &__content
    padding: 20px
    -webkit-animation: slide-fade-in 0.3s ease-in
    -moz-animation:    slide-fade-in 0.3s ease-in
    -o-animation:      slide-fade-in 0.3s ease-in
    animation:         slide-fade-in 0.3s ease-in

  &__container
    -webkit-transition: expand-in .95s ease-in
    -moz-transition: expand-in .95s ease-in
    transition: expand-in .95s ease-in

  &__heading

    &-wrapper
      width: 100%
      margin-top: -35px

    &-header
      padding: 20px
      -webkit-animation: fade-in 0.3s ease-in
      -moz-animation:    fade-in 0.3s ease-in
      -o-animation:      fade-in 0.3s ease-in
      animation:         fade-in 0.3s ease-in
